
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form>
    <label>Nazwa sklepu</label>
    <input type="text" name="sklep"/><br/>
    <hr/>
    <button onclick="funkcjajs()" type="button">+</button><br/>
    <label>Produkt</label>
    <input type="text" name="produkt"/><br/>
</form>

<script>
    function funkcjajs() {
        alert('hej to jest funkcja');
    }
</script>

