
@{
    ViewData["Title"] = "Pętla";
}

<h1>Pętla</h1>
<!--   komentarz HTML -->
@* komnetarz w plikach RAZOR  *@
@* aby korzystać z C# w pliku cshtml  używamy @{  } *@
@{
    //utworzenie zmiennej
    int liczba1 = 15;
}
@* wyświetlenie zawartości zmiennej liczba1 *@
<p>@liczba1</p>

